header {
  width: 1000px;
  height: 420px;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Kaushan Script", "Comic Sans MS", cursive;
  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 4px rgb(143, 143, 143);
  background-image: url("https://img0.liveinternet.ru/images/attach/c/0//48/50/48050822_181.png");
}

h5, h4 {
  text-align: center;
  color: rgba(51, 23, 107, 1);
}

.cv {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  background-image: url("https://img0.liveinternet.ru/images/attach/c/0//48/50/48050822_181.png");
}

.name {
  float: left;
  width: 550px;
}

.photo {
  width: 280px;
  height: 380px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 90px;
}

.icon {
  width: 24px;
  height: 24px;
}

.total-info {
  float: left;
  width: 300px;
  height: 130px;
  font-family: "Kaushan Script", "Comic Sans MS", cursive;
  text-align: center;
}

.content {
  display: inline-block;
  width: 665px;
  height: 130px;
  margin-left: 30px;
  font-family: "Nanum Myeongjo", "Baskerville", serif;
}

.footer {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Kaushan Script", "Comic Sans MS", cursive;
  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 4px rgb(143, 143, 143);
  background-image: url("https://img0.liveinternet.ru/images/attach/c/0//48/50/48050822_181.png");
}
